.additionalParams {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.additionalParams_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.additionalParams_header_line {
    width: 100%;
    background: #555;
    height: 5px;
}

.additionalParams_header_title {
    min-width: fit-content;
    margin: 10px;
}

.additionalParams_filters {
    display: flex;
    justify-content: space-around;
}