.filterCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 200px;
    border: 2px solid #555;
}

.filterCard_checkbox {
    position: relative;
    left: -24px
}

.filterCard_checkbox .input input {
    height: 20px;
    width: 20px;
}