.search-result-displayer {
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    width: 30%;
    margin: 20px;
}
@media only screen and (max-width: 1024px) {
    .card {
        width: 45vw;
    }
} 
@media only screen and (max-width: 450px) {
    .card {
        width: 100%;
    }
}
.card h3 {
    width: 250px;
    overflow-x: scroll;
    white-space: nowrap;
}