.search_container {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search_container_title {
    font-size: 2rem;
    margin: 10px;
}

.filterCard_title {
    margin-right: 10px;
}

.search_container_fields {
    min-width: 300px;
    display: flex;
    justify-content: space-around;
}

input, .dropdown, select {
    min-width: 50px;
    border-radius: 30px;
    border: 0ch;
    background-color: var(--white);
}


@media only screen and (max-width: 1600px) {

    .search_container_fields div, input, select {
        max-width: 200px;
    }

}

@media only screen and (max-width: 850px) {
    .search_container_title {
        font-size: 1rem;
    }

    .search_container {
        justify-content: start;
    }
    .search_container_fields div, input, select {
        max-width: 120px;
    }
    .search_container_fields {
        min-width: 250px;
        display: flex;
        justify-content: space-around;
    }
}