.search-result-displayer {
    display: flex;
    flex-wrap: wrap;
    flex: 7;
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    color: var(--back-color);
    background-color: var(--white);
    height: fit-content;
}
.card div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 5px 0 0;
    min-height: 150px;
}

.addToFavoriteButton {
    float: right;
    color: red;
    width: 30px;
}

.card h3, .card h4 {
    width: 250px;
    overflow-x: scroll;
    white-space: nowrap;
}

.card a.button {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
}

audio {
    width: 95%;
    height: 30px;
}

@media only screen and (max-width: 1024px) {
    .card {
        width: 45vw;
    }
} 
@media only screen and (max-width: 450px) {
    .card {
        width: 100%;
    }
}
