:root {
    --back-color: #1a2c5b;
    --main-color: #3e4e88;
    --secondary-color: #7971ea;
    --third-color: #b8dff0;
    --fourth-color: #CF245E;
    --white: #FFFFFF;
}
.App {
    background: linear-gradient(25deg, black 5%, var(--back-color) 25%, var(--secondary-color) 50%, var(--third-color) 100%);
    color: var(--white);
    min-height: 100vh;
}

a {
    color: var(--fourth-color);
    text-decoration: none;
}